html,
body {
  width: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #f1f1f1;
  color: #245d32;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 20px;
  padding: 0px;
}

h1 {
  font-style: italic;
  padding-bottom: 1rem;
}

.about p,
.destination p {
  margin: 20px;
  text-align: justify;
}

.row .card p,
.row .card h2,
.card h3 {
  margin: 20px;
  text-align: justify;
  padding-top: 20px;
  line-height: 2rem;
}
header {
  background-color: #5cdb94;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding: 10px 16px;
}

header img {
  max-height: 50px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.title-text {
  text-align: center;
  padding-top: 2rem;
}

.active,
ul li a:hover {
  color: #245d32;
}

.jumbotron,
.about {
  font-size: large;
  text-align: center;
  align-items: center;
  display: grid;
  height: 100vh;
}

.jumbotron {
  background-image: url(img/Gunung_Pangrango.jpg);
  background-size: cover;
  color: #fff;
}
.lokasi {
  background-image: url(img/Jayanit-cjr.jpg);
  background-size: cover;
  color: #fff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.card {
  background-color: #e6fff1;
  border-radius: 8px;
  margin: 20px;
  padding-bottom: 30px;
}

.artikel,
.jumbotron img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
}
.artikel {
  cursor: pointer;
}

.left {
  float: left;
  width: 75%;
}

.right {
  float: left;
  width: 25%;
}

input[type="text"],
input[type="email"],
textarea {
  text-align: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #5cdb94;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"],
.btn {
  text-decoration: none;
  background-color: #5cdb94;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover,
.btn:hover {
  background-color: #245d32;
}

.contact {
  width: 50%;
  float: none;
  display: block;
  margin: 0 auto;
}

.fa:hover {
  color: white;
}

.fa {
  padding: 20px;
  color: #245d32;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

footer {
  color: white;
  padding: 20px;
  text-align: center;
  background: #5cdb94;
}

.title-text {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

.btn_wrap {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 50px;
  background-color: #a6ffbc;
  border-radius: 80px;
}

span {
  position: absolute;
  width: 300px;
  height: 50px;
  border-radius: 80px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  color: #eeeeed;
  background-color: #5cdb94;
  transition: all 1.2s ease;
}

.btn_wrap:hover span {
  transform: translateX(-280px);
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .left,
  .right {
    width: 100%;
    padding: 0;
  }
}
